<%- include("partials/header") -%>

    <h1>
        <%= title %>
    </h1>

    <section>
        <form action="" method="POST">
            <textarea cols="30" placeholder="Type here"></textarea>
            <button type="submit">Post</button>
        </form>
    </section>

    <%- include("partials/footer") -%>